*{
	box-sizing: border-box;
}

h1{
	margin-bottom: 60px;
	text-align: center;
}
div{
	float: left;
	margin:0px;
	padding: 0px;
}
.menu1{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;

}
.menu2{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
	margin-bottom: 15px;
}
.menu3{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
}
#h1{
	background-color: red;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;
}
#h2{
	background-color: pink;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
#h3{
	background-color: yellow;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}

@media (min-width:992px ){	
	div{
	float: left;
	margin:0px;
	padding: 0px;
}
.menu1{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 31.33%;
	margin-left: 20px;
	padding: 10px ;
	position: relative;
	padding-top: 20px

}
.menu2{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 31.33%;
	padding: 10px ;
	margin-left: 15px;
	position: relative;
	padding-top: 20px
}
.menu3{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 31.33%;
	margin-left:15px;
	padding: 10px ;
	position: relative;
	padding-top: 20px
}
#h1{
	background-color: red;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;
}
#h2{
	background-color: pink;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
#h3{
	background-color: yellow;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
}


/***********************tablet************************/


@media (max-width: 991px) and (min-width: 768px) {
	div{
	float: left;
	margin:0px;
	padding: 0px;
}
	.menu1{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 48%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;

}
.menu2{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 48%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
	margin-left: 15px;
}
.menu3{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
}
#h1{
	background-color: red;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;
}
#h2{
	background-color: pink;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
#h3{
	background-color: yellow;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}


/******************************mobile*********************************/


/*@media (max-width: 767px) {
	div{
	float: left;
	margin:0px;
	padding: 0px;
}
	.menu1{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	margin-bottom: 15px;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;

}
.menu2{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
}
.menu3{
	border: 1px solid black;
	background-color: #4DF0A1;
	font-size: 1em;
	width: 98%;
	padding: 10px ;
	position: relative;
	padding-top: 20px;
}
#h1{
	background-color: red;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;
}
#h2{
	background-color: pink;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
#h3{
	background-color: yellow;
	font-weight: bold;
	position: absolute;
	top:0px;
	right: 0px;
	border: 1px solid black;
	padding: 5px;

}
}	